<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.absolute.groove.mcentral">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />


    <application
        android:name="com.absolute.groove.mcentral.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Music Central"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="locale|layoutDirection"
        android:theme="@style/Theme.RetroMusic.FollowSystem"
        android:usesCleartextTraffic="false"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name="com.absolute.groove.mcentral.activities.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/playlist" />
                <data android:mimeType="vnd.android.cursor.dir/albums" />
                <data android:mimeType="vnd.android.cursor.dir/artists" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cyanogenmod.eleven.AUDIO_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="vnd.android.cursor.dir/audio" />
            </intent-filter>
        </activity>
        <activity android:name="com.absolute.groove.mcentral.activities.AlbumDetailsActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.ArtistDetailActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.PlaylistDetailActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.PlayingQueueActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.AboutActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.tageditor.AlbumTagEditorActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.tageditor.SongTagEditorActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.SettingsActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.LyricsActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.UserInfoActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.SupportDevelopmentActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.GenreDetailsActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.LicenseActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.PurchaseActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.WhatsNewActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.bugreport.BugReportActivity" />
        <activity android:name="com.absolute.groove.mcentral.activities.ShareInstagramStory" />
        <activity android:name="com.absolute.groove.mcentral.activities.DriveModeActivity" />
        <activity
            android:name="com.absolute.groove.mcentral.activities.SearchActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name="com.absolute.groove.mcentral.activities.LockScreenActivity"
            android:noHistory="true"
            android:showOnLockScreen="true" />

        <activity
            android:name="com.absolute.groove.mcentral.appshortcuts.AppShortcutLauncherActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.absolute.groove.mcentral.activities.saf.SAFGuideActivity"
            android:theme="@style/Theme.Intro" />

        <provider
            android:name="com.absolute.groove.mcentral.misc.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name="com.absolute.groove.mcentral.service.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.absolute.groove.mcentral.appwidgets.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.absolute.groove.mcentral.appwidgets.AppWidgetBig"
            android:exported="false"
            android:label="@string/app_widget_big_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_big_info" />
        </receiver>

        <receiver
            android:name="com.absolute.groove.mcentral.appwidgets.AppWidgetClassic"
            android:exported="false"
            android:label="@string/app_widget_classic_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_classic_info" />
        </receiver>
        <receiver
            android:name="com.absolute.groove.mcentral.appwidgets.AppWidgetSmall"
            android:exported="false"
            android:label="@string/app_widget_small_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_small_info" />
        </receiver>
        <receiver
            android:name="com.absolute.groove.mcentral.appwidgets.AppWidgetText"
            android:exported="false"
            android:label="@string/app_widget_text_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_text" />
        </receiver>
        <receiver
            android:name="com.absolute.groove.mcentral.appwidgets.AppWidgetCard"
            android:exported="false"
            android:label="@string/app_widget_card_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_card_info" />
        </receiver>

        <service
            android:name="com.absolute.groove.mcentral.service.MusicService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true" />

        <meta-data
            android:name="com.absolute.groove.mcentral.glide.RetroMusicGlideModule"
            android:value="GlideModule" />

        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true" />
    </application>
</manifest>
